html,
body {
    background-color: #202434;
    padding: 0;
    margin: 0;
    color: #bead96;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a:link {
    text-decoration: none;
    color: #82adb9;
}

a:visited {
    color: #74a2b8;
}

a:hover {
    text-decoration: underline;
}

pre {
    background-color: rgb(35, 35, 35);
    border-radius: 5px;
    padding: 1em;
    overflow-x: auto;
}

p code {
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    padding: 0.1em 0.3em;
}

* {
    box-sizing: border-box;
}

article img {
    width: 100%;
}

article {
    font-size: large;
}

blockquote {
    margin: 18px 20px;
    background-color: rgb(75, 75, 75);
    padding: 0.1em 1em;
    border-radius: 5px;
}
